Repository ai-cfia/ailab-datastore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ai-cfia/Data, @ai-cfia/fertiscan, @ai-cfia/nachet, @ai-cfia/devops

Issue #96: Fix SQL
  datastore/__init__.py
  datastore/db/bytebase/FertiScan/get_inspection/get_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_ingredients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_label_info_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_metrics_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_micronutrients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_organizations_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_specification_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_sub_label_json_agg.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_ingredient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_metric_unit.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_micronutrient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_organization_located.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_specification.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_sub_label.sql
  tests/fertiscan/db/test_sub_label.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Isssue #96: rework modules
  datastore/db/bytebase/FertiScan/new_inspection/new_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_ingredient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_metric_unit.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_micronutrient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_organization_located.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_specification.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_sub_label.sql
  datastore/db/queries/ingredient/__init__.py
  datastore/db/queries/label/__init__.py
  datastore/db/queries/metric/__init__.py
  datastore/db/queries/nutrients/__init__.py
  datastore/db/queries/organization/__init__.py
  datastore/db/queries/specification/__init__.py
  datastore/db/queries/sub_label/__init__.py
Owners: @ai-cfia/Data

Issue #96: Specifications tested
  datastore/db/bytebase/FertiScan/get_inspection/get_specification_json.sql
  datastore/db/queries/specification/__init__.py
  datastore/db/queries/sub_label/__init__.py
  tests/fertiscan/db/test_specification.py
  tests/fertiscan/db/test_sub_label.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: Refactoring new_inspection
  datastore/db/bytebase/FertiScan/new_inspection/new_function.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_ingredient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_metric_unit.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_micronutrient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_organization_located.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_specification.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_sub_label.sql
  datastore/db/bytebase/FertiScan/schema_0.0.11.sql
  datastore/db/metadata/inspection/__init__.py
  datastore/db/queries/inspection/__init__.py
  datastore/db/queries/picture/__init__.py
  datastore/fertiscan/__init__.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: Rework test
  datastore/db/queries/nutrients/__init__.py
  datastore/db/queries/specification/__init__.py
  datastore/db/queries/sub_label/__init__.py
  tests/fertiscan/db/test_metric.py
  tests/fertiscan/db/test_nutrients.py
  tests/fertiscan/db/test_organization.py
  tests/fertiscan/db/test_specification.py
  tests/fertiscan/db/test_sub_label.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: Organization tested
  datastore/db/bytebase/FertiScan/get_inspection/get_organizations_json.sql
  datastore/db/queries/organization/__init__.py
  tests/fertiscan/db/test_organization.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: test Nutrients
  tests/fertiscan/db/test_nutrients.py
Owners: @ai-cfia/fertiscan

Issue #96: Nutrients tested
  datastore/db/bytebase/FertiScan/get_inspection/get_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_micronutrients_json.sql
  datastore/db/metadata/inspection/__init__.py
  datastore/db/queries/nutrients/__init__.py
  tests/fertiscan/db/test_nutrients.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96 label tested
  datastore/db/bytebase/FertiScan/get_inspection/get_label_info_json.sql
  datastore/db/queries/label/__init__.py
  tests/fertiscan/db/test_label.py
  tests/fertiscan/db/test_metric.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: Create get_Picture_set_Pictures
  datastore/__init__.py
  datastore/blob/azure_storage_api/__init__.py
  tests/test_datastore.py
Owners: @ai-cfia/Data

Issue #96: Sub_label test passing
  datastore/db/bytebase/FertiScan/get_inspection/get_sub_label_json_agg.sql
  datastore/db/queries/sub_label/__init__.py
  tests/fertiscan/db/test_sub_label.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: remove schema test
  tests/fertiscan/db/test_sub_label.py
Owners: @ai-cfia/fertiscan

Issue #96: Added getters
  datastore/db/bytebase/FertiScan/get_inspection/get_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_ingredients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_label_info_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_metrics_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_micronutrients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_organizations_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_specification_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_sub_label_json_agg.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_sub_label_json_loop.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/bytebase/FertiScan/schema_0.0.11.sql
  datastore/db/metadata/inspection/__init__.py
  datastore/db/queries/ingredient/__init__.py
  datastore/db/queries/label/__init__.py
  datastore/db/queries/metric/__init__.py
  datastore/db/queries/nutrients/__init__.py
  datastore/db/queries/organization/__init__.py
  datastore/db/queries/specification/__init__.py
  datastore/db/queries/sub_label/__init__.py
  datastore/fertiscan/__init__.py
  tests/fertiscan/analysis_returned.json
  tests/fertiscan/db/test_label.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: organization tested
  datastore/db/bytebase/FertiScan/new_inspection/new_organization_located.sql
  datastore/db/queries/organization/__init__.py
  tests/fertiscan/db/test_organization.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: Doc
  doc/fertiscan/get-inspection.md
Owners: @ai-cfia/fertiscan

Issue #96: legacy files
  datastore/db/bytebase/FertiScan/get_inspection/get_sub_label_json_loop.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_function.sql
Owners: @ai-cfia/Data

Issue #96: Fix old tests datastore Fertiscan
  datastore/__init__.py
  datastore/db/bytebase/FertiScan/new_inspection/new_ingredient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_inspection_function.sql
  datastore/db/metadata/inspection/__init__.py
  datastore/db/queries/inspection/__init__.py
  datastore/fertiscan/__init__.py
  tests/fertiscan/analyse.json
  tests/fertiscan/analysis_returned.json
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: Datastore tested
  datastore/db/queries/inspection/__init__.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: Fix metrics in new_inspection
  datastore/db/bytebase/FertiScan/new_inspection/new_inspection_function.sql
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: tested metadata inspection
  datastore/db/bytebase/FertiScan/get_inspection/get_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_ingredients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_micronutrients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_specification_json.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.11.sql
  datastore/db/metadata/inspection/__init__.py
  datastore/db/queries/ingredient/__init__.py
  datastore/db/queries/nutrients/__init__.py
  datastore/db/queries/organization/__init__.py
  datastore/db/queries/specification/__init__.py
  tests/fertiscan/db/test_ingredient.py
  tests/fertiscan/inspection.json
  tests/fertiscan/inspection_export.json
  tests/fertiscan/metadata/inspection.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: Fix tests fertiscan
  datastore/db/queries/nutrients/__init__.py
  tests/fertiscan/db/test_nutrients.py
  tests/fertiscan/db/test_specification.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: Lint + formatting
  datastore/db/metadata/inspection/__init__.py
  datastore/db/queries/ingredient/__init__.py
  datastore/db/queries/inspection/__init__.py
  datastore/db/queries/label/__init__.py
  datastore/db/queries/metric/__init__.py
  datastore/db/queries/nutrients/__init__.py
  datastore/db/queries/organization/__init__.py
  datastore/db/queries/specification/__init__.py
  datastore/db/queries/sub_label/__init__.py
  datastore/fertiscan/__init__.py
  doc/fertiscan/get-inspection.md
  doc/fertiscan/inspection-view.md
  tests/fertiscan/db/test_ingredient.py
  tests/fertiscan/db/test_label.py
  tests/fertiscan/db/test_metric.py
  tests/fertiscan/db/test_nutrients.py
  tests/fertiscan/db/test_organization.py
  tests/fertiscan/db/test_specification.py
  tests/fertiscan/db/test_sub_label.py
  tests/fertiscan/inspection.json
  tests/fertiscan/inspection_export.json
  tests/fertiscan/metadata/inspection.py
  tests/fertiscan/metadata/test_inspection.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: Fix issues
  datastore/__init__.py
  datastore/blob/azure_storage_api/__init__.py
  datastore/db/bytebase/FertiScan/get_inspection/get_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_ingredients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_label_info_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_micronutrients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_organizations_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_sub_label_json_agg.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_ingredient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_metric_unit.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_micronutrient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_organization_located.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_specification.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_sub_label.sql
  datastore/db/metadata/inspection/__init__.py
  datastore/db/queries/picture/__init__.py
  tests/test_azure_storage.py
  tests/test_datastore.py
Owners: @ai-cfia/Data

Issue #96: fix lint
  datastore/__init__.py
Owners: @ai-cfia/Data

Issue #96: fix lint
  datastore/db/metadata/inspection/__init__.py
  tests/fertiscan/db/test_ingredient.py
  tests/fertiscan/db/test_specification.py
  tests/fertiscan/db/test_sub_label.py
  tests/fertiscan/metadata/test_inspection.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: Enable to fetch analysis by verified value
  datastore/fertiscan/__init__.py
Owners: @ai-cfia/fertiscan

Issue #96: Fix edge case
  .coverage
  datastore/db/metadata/inspection/__init__.py
  tests/fertiscan/metadata/test_inspection.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: quick fix
  datastore/db/queries/inspection/__init__.py
Owners: @ai-cfia/Data

Issue #96: lint fix
  tests/fertiscan/metadata/test_inspection.py
Owners: @ai-cfia/fertiscan

Issue #96: fix query
  datastore/db/queries/inspection/__init__.py
Owners: @ai-cfia/Data

Issue #96: fix query
  datastore/db/queries/inspection/__init__.py
Owners: @ai-cfia/Data

Issue #96: querry fix
  datastore/db/queries/inspection/__init__.py
Owners: @ai-cfia/Data

Issue #96: added test for querry
  tests/fertiscan/db/test_inspection.py
Owners: @ai-cfia/fertiscan

issue #119: reflect inspection.verified and product_information.label_id
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  tests/fertiscan/analysis_returned.json
  tests/fertiscan/db/update_inspection/test_update_inspection.py
  tests/fertiscan/db/update_inspection/test_update_inspection_python.py
  tests/fertiscan/db/update_inspection/test_upsert_label_info.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #123: temporary package exports
  pyproject.toml
Owners: @ai-cfia/Data

issue #125: use .get to avoid keyerror
  datastore/db/metadata/inspection/__init__.py
Owners: @ai-cfia/Data

issue #118: schema fertiscan_0.0.12
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
Owners: @ai-cfia/Data

Issue #121: added test for OLAP verification on insertion of inspection
  datastore/db/queries/label/__init__.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #121: Bump getter schema
  datastore/db/bytebase/FertiScan/get_inspection/get_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_ingredients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_label_info_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_metrics_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_micronutrients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_organizations_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_specification_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_sub_label.sql
Owners: @ai-cfia/Data

Issue #121: Updated new_functions with new schema
  datastore/db/bytebase/FertiScan/new_inspection/new_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_ingredient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_metric_unit.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_micronutrient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_organization_located.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_specification.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_sub_label.sql
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
Owners: @ai-cfia/Data

.github/CODEOWNERS:

# Codeowners list

* @ai-cfia/Data
fertiscan/ @ai-cfia/fertiscan
nachet/ @ai-cfia/nachet
/.github/ @ai-cfia/devops
Dockerfile @ai-cfia/devops
docker-compose.yml @ai-cfia/devops
docker-compose.*.yml @ai-cfia/devops
