Repository ai-cfia/ailab-datastore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ai-cfia/Data, @ai-cfia/fertiscan, @ai-cfia/nachet, @ai-cfia/devops

Issue #149: archived unused new functions
  datastore/db/bytebase/FertiScan/new_inspection/archived/new_ingredient.sql
  datastore/db/bytebase/FertiScan/new_inspection/archived/new_micronutrient.sql
  datastore/db/bytebase/FertiScan/new_inspection/archived/new_specification.sql
Owners: @ai-cfia/Data

Issue #149: update the new_functions
  datastore/db/bytebase/FertiScan/new_inspection/new_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_metric_unit.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_organization_located.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_sub_label.sql
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.13.sql
  datastore/db/queries/label/__init__.py
  datastore/db/queries/nutrients/__init__.py
Owners: @ai-cfia/Data

Issue #149: fix update_inspection and the sub f()
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
Owners: @ai-cfia/Data

Issue #149: fix json for testing
  tests/fertiscan/analyse.json
  tests/fertiscan/inspection_export.json
Owners: @ai-cfia/fertiscan

Issue #149: archive getters
  datastore/db/bytebase/FertiScan/get_inspection/archived/get_ingredients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/archived/get_micronutrients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/archived/get_specification_json.sql
Owners: @ai-cfia/Data

Issue #149: rework the position of the titles in the jsons
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.13.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  datastore/db/metadata/inspection/__init__.py
  tests/fertiscan/analyse.json
  tests/fertiscan/inspection_export.json
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #149: Rework getters
  datastore/db/bytebase/FertiScan/get_inspection/get_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_label_info_json.sql
Owners: @ai-cfia/Data

Issue #149: rework inspection_export
  datastore/db/metadata/inspection/__init__.py
Owners: @ai-cfia/Data

Issue #149: fix lint
  tests/fertiscan/metadata/test_inspection.py
Owners: @ai-cfia/fertiscan

issue #118: update schema version to 0.0.13
  datastore/db/bytebase/FertiScan/OLAP/guaranteed_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/ingredient_trigger.sql
  datastore/db/bytebase/FertiScan/OLAP/inspection_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/label_information_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/metrics_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/micronutrient_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/specification_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/sub_label_triggers.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.13.sql
  datastore/db/queries/inspection/__init__.py
  db-creation.py
  tests/fertiscan/db/test_nutrients.py
  tests/fertiscan/db/update_inspection/test_upsert_fertilizer.py
  tests/fertiscan/db/update_inspection/test_upsert_inspection.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #156: allow unequal array lengths in sublabels
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  tests/fertiscan/db/update_inspection/test_update_sub_labels.py
  tests/fertiscan/db/update_inspection/test_upsert_fertilizer.py
  tests/fertiscan/db/update_inspection/test_upsert_inspection.py
  tests/fertiscan/metadata/test_inspection.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #149: lint
  tests/fertiscan/db/test_sub_label.py
  tests/fertiscan/db/update_inspection/test_update_guaranteed.py
  tests/fertiscan/db/update_inspection/test_update_inspection.py
  tests/fertiscan/db/update_inspection/test_update_metrics.py
  tests/fertiscan/db/update_inspection/test_update_sub_labels.py
  tests/fertiscan/db/update_inspection/test_upsert_fertilizer.py
  tests/fertiscan/db/update_inspection/test_upsert_label_info.py
  tests/fertiscan/inspection.json
  tests/fertiscan/metadata/test_inspection.py
  tests/fertiscan/test_datastore.py
  tests/test_datastore.py
Owners: @ai-cfia/fertiscan, @ai-cfia/Data

Issue #149: lint
  tests/fertiscan/db/update_inspection/test_update_inspection_python.py
  tests/fertiscan/db/update_inspection/test_update_sub_labels.py
  tests/fertiscan/db/update_inspection/test_upsert_fertilizer.py
Owners: @ai-cfia/fertiscan

Issue #149: fix lint
  tests/fertiscan/db/update_inspection/archived/test_upsert_inspection.py
  tests/fertiscan/db/update_inspection/test_update_inspection_python.py
Owners: @ai-cfia/fertiscan

Issue #149: fix lint
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/fertiscan

Issue #149: rename archived tests for coverage purposes
  tests/fertiscan/db/update_inspection/archived/archived_test_upsert_inspection.py
Owners: @ai-cfia/fertiscan

issue #118: update schema to fertiscan_0.0.14
  datastore/db/bytebase/FertiScan/OLAP/guaranteed_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/ingredient_trigger.sql
  datastore/db/bytebase/FertiScan/OLAP/inspection_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/label_information_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/metrics_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/micronutrient_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/specification_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/sub_label_triggers.sql
  datastore/db/bytebase/FertiScan/delete_inspection_function.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_ingredients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_label_info_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_metrics_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_micronutrients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_organizations_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_specification_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_sub_label.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_ingredient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_metric_unit.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_micronutrient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_organization_located.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_specification.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_sub_label.sql
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.14.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
Owners: @ai-cfia/Data

issue #118: DBInspection model
  datastore/db/metadata/inspection/__init__.py
Owners: @ai-cfia/Data

issue #118: delete_inspection returns the deleted record
  datastore/db/bytebase/FertiScan/delete_inspection_function.sql
  tests/fertiscan/db/delete_inspection/test_delete_inspection.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #118: use triggers
  datastore/db/bytebase/FertiScan/delete_inspection_function.sql
  tests/fertiscan/db/delete_inspection/test_delete_inspection.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #118: drop before creating triggers
  datastore/db/bytebase/FertiScan/delete_inspection_function.sql
Owners: @ai-cfia/Data

issue #118: delete_inspection python query function
  datastore/db/queries/inspection/__init__.py
  tests/fertiscan/db/delete_inspection/test_delete_inspection.py
  tests/fertiscan/db/delete_inspection/test_delete_inspection_python.py
  tests/fertiscan/db/update_inspection/test_update_inspection_python.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #118: delete_inspection fertiscan datastore function
  datastore/blob/azure_storage_api/__init__.py
  datastore/fertiscan/__init__.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #118: delete_inspection docs
  datastore/db/bytebase/FertiScan/delete_inspection_function.sql
  doc/fertiscan/delete-inspection.md
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #118: remove unnecessary delete_organization_information function
  datastore/db/bytebase/FertiScan/delete_inspection_function.sql
  tests/fertiscan/db/delete_inspection/test_delete_organization_info.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #118: cascade delete fertilizer
  datastore/db/bytebase/FertiScan/schema_0.0.13.sql
  doc/fertiscan/delete-inspection.md
  tests/fertiscan/db/delete_inspection/test_delete_inspection.py
  tests/fertiscan/db/update_inspection/archived/archived_test_upsert_inspection.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #118: remove unwanted field from DBInspection
  datastore/db/metadata/inspection/__init__.py
Owners: @ai-cfia/Data

issue #118: update schema version to 0.0.13
  db-creation.py
  tests/fertiscan/db/test_guaranteed_analysis.py
  tests/fertiscan/db/update_inspection/archived/archived_test_upsert_inspection.py
  tests/fertiscan/db/update_inspection/test_upsert_fertilizer.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #118: update schema to fertiscan_0.0.14
  datastore/db/bytebase/FertiScan/OLAP/guaranteed_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/ingredient_trigger.sql
  datastore/db/bytebase/FertiScan/OLAP/inspection_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/label_information_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/metrics_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/micronutrient_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/specification_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/sub_label_triggers.sql
  datastore/db/bytebase/FertiScan/delete_inspection_function.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_label_info_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_metrics_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_organizations_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_sub_label.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_metric_unit.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_organization_located.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_sub_label.sql
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.13.sql
  datastore/db/bytebase/FertiScan/schema_0.0.14.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
Owners: @ai-cfia/Data

issue #156: raise notice in case of mismatching lengths
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
Owners: @ai-cfia/Data

issue #156: modify tests for better maintainability
  tests/fertiscan/db/update_inspection/test_update_sub_labels.py
  tests/fertiscan/metadata/test_inspection.py
Owners: @ai-cfia/fertiscan

Issue #151: added comment into architecture
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.13.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  datastore/db/metadata/inspection/__init__.py
  datastore/db/queries/inspection/__init__.py
  tests/fertiscan/inspection_export.json
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #151: Create tests
  tests/fertiscan/db/update_inspection/test_update_inspection.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/fertiscan

issue #156: prevent returning Null sub label string
  datastore/db/bytebase/FertiScan/get_inspection/get_sub_label.sql
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.14.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  tests/fertiscan/db/test_sub_label.py
  tests/fertiscan/db/update_inspection/test_update_sub_labels.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Update datastore/db/bytebase/FertiScan/update_inspection_function.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
Owners: @ai-cfia/Data

Issue #147: Basic trigger implemented before evaluation
  datastore/db/bytebase/FertiScan/OLAP/inspection_triggers.sql
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
Owners: @ai-cfia/Data

issue #161: transform new analysis format into inspection
  datastore/db/metadata/inspection/__init__.py
  datastore/db/metadata/inspection/pipeline_models.py
  tests/fertiscan/db/test_sub_label.py
  tests/fertiscan/db/update_inspection/test_update_sub_labels.py
  tests/fertiscan/metadata/test_inspection.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #149: fix is_minimal as a necessary key for import
  datastore/db/metadata/inspection/__init__.py
Owners: @ai-cfia/Data

Issue #165: Adds init data script for fertiscan
  datastore/db/bytebase/FertiScan/init_data.sql
Owners: @ai-cfia/Data

Issue #165: fix table for inserts
  datastore/db/bytebase/FertiScan/init_data.sql
  datastore/db/bytebase/FertiScan/schema_0.0.6.sql
Owners: @ai-cfia/Data

.github/CODEOWNERS:

# Codeowners list

* @ai-cfia/Data
fertiscan/ @ai-cfia/fertiscan
nachet/ @ai-cfia/nachet
/.github/ @ai-cfia/devops
Dockerfile @ai-cfia/devops
docker-compose.yml @ai-cfia/devops
docker-compose.*.yml @ai-cfia/devops
