Repository ai-cfia/ailab-datastore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ai-cfia/Data, @ai-cfia/fertiscan, @ai-cfia/nachet, @ai-cfia/devops

.github/CODEOWNERS:

# Codeowners list

* @ai-cfia/Data
fertiscan/ @ai-cfia/fertiscan
nachet/ @ai-cfia/nachet
/.github/ @ai-cfia/devops
Dockerfile @ai-cfia/devops
docker-compose.yml @ai-cfia/devops
docker-compose.*.yml @ai-cfia/devops

Issue #167: take out schema 0.0.6
  datastore/db/bytebase/FertiScan/init_data.sql
  datastore/db/bytebase/FertiScan/schema_0.0.6.sql
Owners: @ai-cfia/Data

issue #156: allow empty strings instead of null
  datastore/db/bytebase/FertiScan/get_inspection/get_sub_label.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  datastore/db/metadata/inspection/__init__.py
  tests/fertiscan/db/test_sub_label.py
  tests/fertiscan/db/update_inspection/test_update_sub_labels.py
  tests/fertiscan/metadata/test_inspection.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #149: make title object
  datastore/db/bytebase/FertiScan/get_inspection/get_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.13.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  datastore/db/metadata/inspection/__init__.py
  tests/fertiscan/inspection.json
  tests/fertiscan/inspection_export.json
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #149: all tests passing
  datastore/db/bytebase/FertiScan/get_inspection/get_guaranteed_analysis.sql
  datastore/db/metadata/inspection/__init__.py
  datastore/db/queries/label/__init__.py
  tests/fertiscan/db/test_guaranteed_analysis.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #151: error fixes and refactors
  datastore/bin/db-creation.py
  datastore/db/bytebase/FertiScan/get_inspection/get_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_metrics_json.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.13.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  datastore/db/metadata/inspection/__init__.py
  datastore/db/queries/inspection/__init__.py
  datastore/db/queries/label/__init__.py
  datastore/db/queries/nutrients/__init__.py
  datastore/fertiscan/__init__.py
  db-creation.py
  tests/fertiscan/db/test_guaranteed_analysis.py
  tests/fertiscan/db/test_label.py
  tests/fertiscan/db/test_metric.py
  tests/fertiscan/db/test_organization.py
  tests/fertiscan/db/update_inspection/test_update_guaranteed.py
  tests/fertiscan/db/update_inspection/test_update_inspection.py
  tests/fertiscan/db/update_inspection/test_update_inspection_python.py
  tests/fertiscan/db/update_inspection/test_update_metrics.py
  tests/fertiscan/db/update_inspection/test_update_sub_labels.py
  tests/fertiscan/db/update_inspection/test_upsert_label_info.py
  tests/fertiscan/db/update_inspection/test_upsert_organization_info.py
  tests/fertiscan/metadata/test_inspection.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #151: new schema
  datastore/db/bytebase/FertiScan/OLAP/guaranteed_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/ingredient_trigger.sql
  datastore/db/bytebase/FertiScan/OLAP/inspection_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/label_information_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/metrics_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/micronutrient_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/specification_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/sub_label_triggers.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_label_info_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_metrics_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_organizations_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_sub_label.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_metric_unit.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_organization_located.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_sub_label.sql
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.15.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
Owners: @ai-cfia/Data

issue #151: sql function fixes
  datastore/db/bytebase/FertiScan/OLAP/guaranteed_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/ingredient_trigger.sql
  datastore/db/bytebase/FertiScan/OLAP/inspection_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/label_information_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/metrics_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/micronutrient_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/specification_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/sub_label_triggers.sql
  datastore/db/bytebase/FertiScan/get_inspection/archived/get_micronutrients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_label_info_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_sub_label.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/metadata/inspection/__init__.py
  tests/fertiscan/db/test_metric.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #151: fix volume & density export
  datastore/db/metadata/inspection/__init__.py
  tests/fertiscan/db/test_metric.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #151: delete_inspection returns a dict & various fixes
  datastore/blob/azure_storage_api/__init__.py
  datastore/db/bytebase/FertiScan/delete_inspection_function.sql
  datastore/db/bytebase/FertiScan/get_inspection/archived/get_ingredients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/archived/get_micronutrients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/archived/get_specification_json.sql
  datastore/db/bytebase/FertiScan/init_data.sql
  datastore/db/bytebase/FertiScan/new_inspection/archived/new_ingredient.sql
  datastore/db/bytebase/FertiScan/new_inspection/archived/new_micronutrient.sql
  datastore/db/bytebase/FertiScan/new_inspection/archived/new_specification.sql
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.15.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  datastore/db/queries/inspection/__init__.py
  datastore/fertiscan/__init__.py
  tests/fertiscan/db/delete_inspection/test_delete_inspection_python.py
  tests/fertiscan/db/update_inspection/test_update_sub_labels.py
  tests/fertiscan/metadata/test_inspection.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #151: revert container creation in fertiscan test_datastore
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/fertiscan

issue #151: revert saving empty strings instead of null
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
Owners: @ai-cfia/Data
