Repository ai-cfia/ailab-datastore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ai-cfia/Data, @ai-cfia/fertiscan, @ai-cfia/nachet, @ai-cfia/devops

Issue #121: add into insert function
  datastore/db/bytebase/FertiScan/new_inspection/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/bytebase/FertiScan/schema_0.0.11.sql
Owners: @ai-cfia/Data

Update bin to facilitate functions creation
  datastore/bin/db-creation.py
Owners: @ai-cfia/Data

Issue #121: Fix db function
  datastore/db/bytebase/FertiScan/get_inspection/get_metrics_json.sql
  datastore/db/queries/specification/__init__.py
  tests/fertiscan/db/test_specification.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #121: fix lint and formatting
  datastore/bin/db-creation.py
  datastore/db/queries/label/__init__.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #118: delete_inspection function
  datastore/db/bytebase/FertiScan/delete_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
  doc/fertiscan/fertiScan-architecture.md
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #121: add new module for tests
  tests/fertiscan/db/update_inspection/__init__.py
Owners: @ai-cfia/fertiscan

Issue #121: Bump update_inpsection for tests
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
Owners: @ai-cfia/Data

121 integrate olap layer into new inspection (#129)
  datastore/bin/db-creation.py
  datastore/db/bytebase/FertiScan/get_inspection/get_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_ingredients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_label_info_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_metrics_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_micronutrients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_organizations_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_specification_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_sub_label.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_ingredient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_metric_unit.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_micronutrient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_organization_located.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_specification.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_sub_label.sql
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.11.sql
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  datastore/db/queries/label/__init__.py
  datastore/db/queries/specification/__init__.py
  tests/fertiscan/db/test_specification.py
  tests/fertiscan/db/update_inspection/__init__.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #116: Implement `original_dataset`
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
Owners: @ai-cfia/Data

Issue #116: added tests
  datastore/db/queries/inspection/__init__.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #116: rework update_inspection
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  datastore/fertiscan/__init__.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #116: All unit test passing
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
Owners: @ai-cfia/Data

issue #118: db tests
  tests/fertiscan/db/delete_inspection/test_delete_inspection.py
  tests/fertiscan/db/delete_inspection/test_delete_organization_info.py
Owners: @ai-cfia/fertiscan

issue #118: update to fertiscan_0.0.13
  datastore/db/bytebase/FertiScan/delete_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.13.sql
Owners: @ai-cfia/Data

issue #118: update to fertiscan_0.0.13
  datastore/bin/db-creation.py
  datastore/db/bytebase/FertiScan/get_inspection/get_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_ingredients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_label_info_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_metrics_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_micronutrients_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_organizations_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_specification_json.sql
  datastore/db/bytebase/FertiScan/get_inspection/get_sub_label.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_ingredient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_metric_unit.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_micronutrient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_organization_located.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_specification.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_sub_label.sql
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.13.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  tests/fertiscan/db/delete_inspection/__init__.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

tIssue #132: remove FK from OLAP
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
Owners: @ai-cfia/Data

Issue #116: added protective trigger
  .coverage
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
  db-creation.py
Owners: @ai-cfia/Data

Issue #116: corrected accidental modev file
  datastore/bin/db-creation.py
Owners: @ai-cfia/Data

issue #118: use triggers
  datastore/db/bytebase/FertiScan/delete_inspection_function.sql
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  tests/fertiscan/db/delete_inspection/test_delete_inspection.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #118: delete_inspection returns the deleted record
  datastore/db/bytebase/FertiScan/delete_inspection_function.sql
  tests/fertiscan/db/delete_inspection/test_delete_inspection.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #116: Change original_dataset location
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
  datastore/db/queries/inspection/__init__.py
  tests/fertiscan/db/test_inspection.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #118: drop before creating triggers
  datastore/db/bytebase/FertiScan/delete_inspection_function.sql
Owners: @ai-cfia/Data

issue #118: DBInspection model
  datastore/db/metadata/inspection/__init__.py
Owners: @ai-cfia/Data

issue #118: delete_inspection python query function
  datastore/db/queries/inspection/__init__.py
  tests/fertiscan/db/delete_inspection/test_delete_inspection.py
  tests/fertiscan/db/delete_inspection/test_delete_inspection_python.py
  tests/fertiscan/db/update_inspection/test_update_inspection_python.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #118: delete_inspection fertiscan datastore function
  datastore/blob/azure_storage_api/__init__.py
  datastore/fertiscan/__init__.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #118: delete_inspection docs
  datastore/db/bytebase/FertiScan/delete_inspection_function.sql
  doc/fertiscan/delete-inspection.md
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

140 Allow resend inference feedback
  datastore/nachet/__init__.py
Owners: @ai-cfia/nachet

issue #118: remove unnecessary delete_organization_information function
  datastore/db/bytebase/FertiScan/delete_inspection_function.sql
  tests/fertiscan/db/delete_inspection/test_delete_organization_info.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #118: cascade delete fertilizer
  datastore/db/bytebase/FertiScan/schema_0.0.13.sql
  doc/fertiscan/delete-inspection.md
  tests/fertiscan/db/delete_inspection/test_delete_inspection.py
  tests/fertiscan/db/update_inspection/test_upsert_fertilizer.py
  tests/fertiscan/db/update_inspection/test_upsert_inspection.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #118: remove unwanted field from DBInspection
  datastore/db/metadata/inspection/__init__.py
Owners: @ai-cfia/Data

Issue #116: fix lint
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/fertiscan

Issue #116: fix originial_dataset location
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
Owners: @ai-cfia/Data

116 Implement original_dataset (#131)
  .coverage
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  datastore/db/queries/inspection/__init__.py
  datastore/fertiscan/__init__.py
  tests/fertiscan/db/test_inspection.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #116: Implement `original_dataset`
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
Owners: @ai-cfia/Data

Issue #116: added tests
  datastore/db/queries/inspection/__init__.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #116: All unit test passing
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
Owners: @ai-cfia/Data

Issue #116: rework update_inspection
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
Owners: @ai-cfia/Data

tIssue #132: remove FK from OLAP
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
Owners: @ai-cfia/Data

132 decouple olap schema from oltp schema to prevent referential integrity issues (#133)
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
  datastore/db/queries/inspection/__init__.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #130: fix inspection_factual trigger
  datastore/db/bytebase/FertiScan/OLAP/inspection_triggers.sql
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

.github/CODEOWNERS:

# Codeowners list

* @ai-cfia/Data
fertiscan/ @ai-cfia/fertiscan
nachet/ @ai-cfia/nachet
/.github/ @ai-cfia/devops
Dockerfile @ai-cfia/devops
docker-compose.yml @ai-cfia/devops
docker-compose.*.yml @ai-cfia/devops
