Repository ai-cfia/ailab-datastore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ai-cfia/Data, @ai-cfia/fertiscan, @ai-cfia/nachet, @ai-cfia/devops

Issue #130: testing update on OLAP
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  datastore/db/queries/inspection/__init__.py
  datastore/db/queries/specification/__init__.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #130: basic test passing
  datastore/db/bytebase/FertiScan/OLAP/guaranteed_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/ingredient_trigger.sql
  datastore/db/bytebase/FertiScan/OLAP/inspection_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/label_information_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/metrics_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/micronutrient_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/specification_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/sub_label_triggers.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
Owners: @ai-cfia/Data

Issue #130: previous tests fixed
  datastore/db/bytebase/FertiScan/OLAP/inspection_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/label_information_triggers.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  tests/fertiscan/db/update_inspection/test_update_guaranteed.py
  tests/fertiscan/db/update_inspection/test_update_ingredients.py
  tests/fertiscan/db/update_inspection/test_update_metrics.py
  tests/fertiscan/db/update_inspection/test_update_micronutrients.py
  tests/fertiscan/db/update_inspection/test_update_specs.py
  tests/fertiscan/db/update_inspection/test_update_sub_labels.py
  tests/fertiscan/db/update_inspection/test_upsert_label_info.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #130: create triggers
  datastore/db/bytebase/FertiScan/OLAP/guaranteed_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/ingredient_trigger.sql
  datastore/db/bytebase/FertiScan/OLAP/inspection_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/label_information_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/metrics_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/micronutrient_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/specification_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/sub_label_triggers.sql
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
Owners: @ai-cfia/Data

Issue #130: fix lint
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/fertiscan

Issue #130: update the inspection_factual with the original_dataset
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
Owners: @ai-cfia/Data

Issue #130: tests passing
  datastore/__init__.py
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  datastore/db/queries/inspection/__init__.py
Owners: @ai-cfia/Data

Issue #130: fix lint
  datastore/db/bytebase/FertiScan/OLAP/micronutrient_triggers.sql
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

handle None value in ProductInformation & Specification
  datastore/db/metadata/inspection/__init__.py
Owners: @ai-cfia/Data

specifications should not have all null fields in the db
  datastore/db/metadata/inspection/__init__.py
  tests/fertiscan/metadata/test_inspection.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #130: updated doc
  doc/fertiscan/fertiScan-architecture.md
  doc/fertiscan/new-inspection.md
  doc/fertiscan/update-inspection-sequence.md
Owners: @ai-cfia/fertiscan

Issue #130: Fix lint
  datastore/__init__.py
  datastore/db/queries/inspection/__init__.py
  doc/fertiscan/fertiScan-architecture.md
  doc/fertiscan/new-inspection.md
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #130: fix lint
  doc/fertiscan/fertiScan-architecture.md
  doc/fertiscan/new-inspection.md
  doc/fertiscan/update-inspection-sequence.md
Owners: @ai-cfia/fertiscan

specifications should not have all null fields in the db
  datastore/db/metadata/inspection/__init__.py
  tests/fertiscan/metadata/test_inspection.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

handle None value in ProductInformation & Specification
  datastore/db/metadata/inspection/__init__.py
Owners: @ai-cfia/Data

Issue #130: Edit sub_label
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
Owners: @ai-cfia/Data

130 integrate olap layer into update inspection (#134)
  datastore/__init__.py
  datastore/db/bytebase/FertiScan/OLAP/guaranteed_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/ingredient_trigger.sql
  datastore/db/bytebase/FertiScan/OLAP/inspection_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/label_information_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/metrics_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/micronutrient_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/specification_triggers.sql
  datastore/db/bytebase/FertiScan/OLAP/sub_label_triggers.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  datastore/db/queries/inspection/__init__.py
  datastore/db/queries/specification/__init__.py
  doc/fertiscan/fertiScan-architecture.md
  doc/fertiscan/new-inspection.md
  doc/fertiscan/update-inspection-sequence.md
  tests/fertiscan/db/update_inspection/test_update_guaranteed.py
  tests/fertiscan/db/update_inspection/test_update_ingredients.py
  tests/fertiscan/db/update_inspection/test_update_metrics.py
  tests/fertiscan/db/update_inspection/test_update_micronutrients.py
  tests/fertiscan/db/update_inspection/test_update_specs.py
  tests/fertiscan/db/update_inspection/test_update_sub_labels.py
  tests/fertiscan/db/update_inspection/test_upsert_label_info.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #146: fix sql error
  db-creation.py
Owners: @ai-cfia/Data

iSSUE #146: added low level tests
  datastore/db/queries/organization/__init__.py
  tests/fertiscan/db/test_ingredient.py
  tests/fertiscan/db/test_metric.py
  tests/fertiscan/db/test_nutrients.py
  tests/fertiscan/db/test_organization.py
  tests/fertiscan/db/test_specification.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #146: Remove all Not nut for label child tables
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
Owners: @ai-cfia/Data

Issue #146: All fertiscan tests passing
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
Owners: @ai-cfia/Data

Issue #146: All test passing
  datastore/db/metadata/inspection/__init__.py
  datastore/db/queries/organization/__init__.py
  datastore/db/queries/sub_label/__init__.py
  tests/fertiscan/db/test_organization.py
  tests/fertiscan/db/test_sub_label.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

issue #146: add checks in new_X
  datastore/db/bytebase/FertiScan/new_inspection/new_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_ingredient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_metric_unit.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_micronutrient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_organization_located.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_specification.sql
Owners: @ai-cfia/Data

Issue #146: Fix adress being null in insert & update pipeline
  datastore/db/bytebase/FertiScan/new_inspection/new_organization_located.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
Owners: @ai-cfia/Data

iSSUE #146: Handle null unit or Value for metrics in both pipeline
  datastore/db/bytebase/FertiScan/new_inspection/new_metric_unit.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
Owners: @ai-cfia/Data

Issue #146: fix sql error
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
Owners: @ai-cfia/Data

Issue #146: remove NotNull constraint
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
Owners: @ai-cfia/Data

Issue #146: Fix new & update inspection to handle Null
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
Owners: @ai-cfia/Data

Issue #146: fix lint
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/fertiscan

Issue #146: remove NotNull constraint (#148)
  datastore/db/bytebase/FertiScan/new_inspection/new_guaranteed_analysis.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_ingredient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_metric_unit.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_micronutrient.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_organization_located.sql
  datastore/db/bytebase/FertiScan/new_inspection/new_specification.sql
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  datastore/db/metadata/inspection/__init__.py
  datastore/db/queries/organization/__init__.py
  datastore/db/queries/sub_label/__init__.py
  db-creation.py
  tests/fertiscan/db/test_ingredient.py
  tests/fertiscan/db/test_metric.py
  tests/fertiscan/db/test_nutrients.py
  tests/fertiscan/db/test_organization.py
  tests/fertiscan/db/test_specification.py
  tests/fertiscan/db/test_sub_label.py
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

fix address not null
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #152: Fix inserting null adress into location table
  datastore/db/bytebase/FertiScan/new_inspection/new_organization_located.sql
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #146: edit schema
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
Owners: @ai-cfia/Data

Issue# 146: Remove duplicate test and verified edge case
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/fertiscan

fix address not null (#152)
  datastore/db/bytebase/FertiScan/new_inspection/new_organization_located.sql
  datastore/db/bytebase/FertiScan/schema_0.0.12.sql
  tests/fertiscan/test_datastore.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #149: new schema
  datastore/db/bytebase/FertiScan/schema_0.0.13.sql
Owners: @ai-cfia/Data

Issue #149: Updated key import
  datastore/db/metadata/inspection/__init__.py
Owners: @ai-cfia/Data

Issue #149: Rework inspection_import
  datastore/db/metadata/inspection/__init__.py
Owners: @ai-cfia/Data

Issue #149: create test for inspection_import
  datastore/db/metadata/inspection/__init__.py
  tests/fertiscan/analyse.json
  tests/fertiscan/metadata/test_inspection.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #149: update new_inspection
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.13.sql
Owners: @ai-cfia/Data

.github/CODEOWNERS:

# Codeowners list

* @ai-cfia/Data
fertiscan/ @ai-cfia/fertiscan
nachet/ @ai-cfia/nachet
/.github/ @ai-cfia/devops
Dockerfile @ai-cfia/devops
docker-compose.yml @ai-cfia/devops
docker-compose.*.yml @ai-cfia/devops
