Repository ai-cfia/ailab-datastore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ai-cfia/Data, @ai-cfia/fertiscan, @ai-cfia/nachet, @ai-cfia/devops

.github/CODEOWNERS:

# Codeowners list

* @ai-cfia/Data
fertiscan/ @ai-cfia/fertiscan
nachet/ @ai-cfia/nachet
/.github/ @ai-cfia/devops
Dockerfile @ai-cfia/devops
docker-compose.yml @ai-cfia/devops
docker-compose.*.yml @ai-cfia/devops

Issue #112: revert imports magically gone
  datastore/db/metadata/inference/__init__.py
Owners: @ai-cfia/Data

Issue #112: inference nachet import fix
  datastore/db/metadata/inference/__init__.py
Owners: @ai-cfia/Data

Issue #112: adds pipeline for datastore and fertiscan
  .github/workflows/workflows.yml
  datastore/db/metadata/inference/__init__.py
  nachet/tests/db/test_inference.py
  nachet/tests/db/test_metadata.py
  nachet/tests/db/test_picture.py
  nachet/tests/db/test_seed.py
Owners: @ai-cfia/devops, @ai-cfia/Data, @ai-cfia/nachet

Issue #112: updates import for fertiscan inspection
  fertiscan/tests/db/test_inspection.py
Owners: @ai-cfia/fertiscan

Issue #112: updates import for fertiscan inspection again
  fertiscan/tests/db/update_inspection/test_update_inspection_python.py
Owners: @ai-cfia/fertiscan

Issue #112: ordering tests for azure storage
  datastore/requirements.txt
  datastore/tests/test_azure_storage.py
Owners: @ai-cfia/Data

Issue #112: ordering tests for azure storage with different library
  .github/workflows/workflows.yml
  datastore/requirements.txt
  datastore/tests/test_azure_storage.py
  nachet/tests/db/test_metadata.py
Owners: @ai-cfia/devops, @ai-cfia/Data, @ai-cfia/nachet

Issue #112: requirements eof
  datastore/requirements.txt
Owners: @ai-cfia/Data

Issue #112: manage concurrency in azure storage tests
  datastore/tests/test_azure_storage.py
Owners: @ai-cfia/Data

Issue #112: test pipeline
  datastore/tests/test_azure_storage.py
Owners: @ai-cfia/Data

Issue #112: add useFictures to pass to all methods
  datastore/requirements.txt
  datastore/tests/test_azure_storage.py
Owners: @ai-cfia/Data

Issue #112: test pipeline
  datastore/tests/test_azure_storage.py
Owners: @ai-cfia/Data

Issue #112: comments on process
  datastore/tests/test_azure_storage.py
Owners: @ai-cfia/Data

Issue #112: update readme
  README.md
Owners: @ai-cfia/Data

Issue #112: add requirement pytest-asyncio
  datastore/requirements.txt
Owners: @ai-cfia/Data

Issue #112: fix async def test_mount_nonexisting_container_no_create(self):
  datastore/tests/test_azure_storage.py
Owners: @ai-cfia/Data

Issue #112: update raise error
  datastore/tests/test_azure_storage.py
Owners: @ai-cfia/Data

Issue #112: update raise error type
  datastore/tests/test_azure_storage.py
Owners: @ai-cfia/Data

Issue #112: adds fixture for no container test
  datastore/tests/test_azure_storage.py
Owners: @ai-cfia/Data

Issue #112: debug infinite loop
  fertiscan/tests/db/update_inspection/test_update_ingredients.py
Owners: @ai-cfia/fertiscan

Issue #112: temp move update_inspection to test infinite loop
  fertiscan/tests/db/update_inspection/test_update_ingredients.py
  update_inspection/test_update_guaranteed.py
  update_inspection/test_update_ingredients.py
  update_inspection/test_update_inspection.py
  update_inspection/test_update_inspection_python.py
  update_inspection/test_update_metrics.py
  update_inspection/test_update_micronutrients.py
  update_inspection/test_update_specs.py
  update_inspection/test_update_sub_labels.py
  update_inspection/test_upsert_fertilizer.py
  update_inspection/test_upsert_inspection.py
  update_inspection/test_upsert_label_info.py
  update_inspection/test_upsert_location.py
  update_inspection/test_upsert_organization_info.py
Owners: @ai-cfia/fertiscan, @ai-cfia/Data

issue #115: handle empty, null or missing organization info
  .gitignore
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.10.sql
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  tests/fertiscan/db/update_inspection/test_update_inspection.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #112: add back update_inspection
  .gitignore
  fertiscan/tests/db/update_inspection/test_update_guaranteed.py
  fertiscan/tests/db/update_inspection/test_update_ingredients.py
  fertiscan/tests/db/update_inspection/test_update_inspection.py
  fertiscan/tests/db/update_inspection/test_update_inspection_python.py
  fertiscan/tests/db/update_inspection/test_update_metrics.py
  fertiscan/tests/db/update_inspection/test_update_micronutrients.py
  fertiscan/tests/db/update_inspection/test_update_specs.py
  fertiscan/tests/db/update_inspection/test_update_sub_labels.py
  fertiscan/tests/db/update_inspection/test_upsert_fertilizer.py
  fertiscan/tests/db/update_inspection/test_upsert_inspection.py
  fertiscan/tests/db/update_inspection/test_upsert_label_info.py
  fertiscan/tests/db/update_inspection/test_upsert_location.py
  fertiscan/tests/db/update_inspection/test_upsert_organization_info.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #112: lint errors
  .gitignore
  datastore/requirements.txt
Owners: @ai-cfia/Data

Issue #112: omit coverage for 2 of 3 job steps
  .github/workflows/workflows.yml
Owners: @ai-cfia/devops

Issue #112: update to boolean
  .github/workflows/workflows.yml
Owners: @ai-cfia/devops

Issue #112: update boolean check value again
  .github/workflows/workflows.yml
Owners: @ai-cfia/devops

Issue #112: typo
  .github/workflows/workflows.yml
Owners: @ai-cfia/devops

Issue #112: testing with string
  .github/workflows/workflows.yml
Owners: @ai-cfia/devops

Issue #112: update coverage variable
  .github/workflows/workflows.yml
Owners: @ai-cfia/devops

Issue #112: adds variable for datastore flow
  .github/workflows/workflows.yml
Owners: @ai-cfia/devops

Issue #112: clean up
  .github/workflows/workflows.yml
Owners: @ai-cfia/devops

issue #115: link fertilizer to manufacturer instead of company
  datastore/db/bytebase/FertiScan/update_inspection_function.sql
  tests/fertiscan/db/update_inspection/test_update_inspection.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: added label_information.product_name
  datastore/db/bytebase/FertiScan/new_inspection_function.sql
  datastore/db/bytebase/FertiScan/schema_0.0.10.sql
  datastore/db/queries/label/__init__.py
  tests/fertiscan/db/test_label.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: return user_unverified_analysis
  datastore/fertiscan/__init__.py
Owners: @ai-cfia/fertiscan

Issue #96: Starting function and doc
  datastore/db/queries/inspection/__init__.py
  datastore/fertiscan/__init__.py
  doc/fertiscan/inspection-view.md
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: metric tested
  datastore/db/bytebase/FertiScan/new_inspection/new_metric_unit.sql
  datastore/db/bytebase/FertiScan/schema_0.0.11.sql
  datastore/db/queries/metric/__init__.py
  tests/fertiscan/db/test_metric.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: fix sub_label
  datastore/db/bytebase/FertiScan/new_inspection/new_label_information.sql
  datastore/db/queries/sub_label/__init__.py
  tests/fertiscan/db/test_sub_label.py
Owners: @ai-cfia/Data, @ai-cfia/fertiscan

Issue #96: added warranty
  datastore/db/bytebase/FertiScan/schema_0.0.11.sql
Owners: @ai-cfia/Data

Issue #96: add edited in org_info
  datastore/db/bytebase/FertiScan/schema_0.0.11.sql
Owners: @ai-cfia/Data
